*{
    font-size: 20px;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
.pokemon{
    display:flex;
    justify-content: center;
    text-align: center;
  
}
.table{
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
        align-items: flex-start;
        /* justify-content: space-around; */
      padding: 30px;    
     border-radius: 3px solid black;
     background-color: rgb(15, 99, 246);
}
body{
    background-image: url ;
    background-size:auto ;
}

.titre{
    font-size:30px;
    color: rgb(0, 0, 0);
}
.affichage{
    height: 250px;
    width: 250px;
    /* border: 1px solid red; */
}
/* Ajoutez ici le style CSS pour les images de Pokémon */
.affichage img {
    max-width: 100%;
    height: auto;
    display: none;
    border: 2px solid rgb(235, 0, 0);
}

.imgPikachu{
    height: 400px;
    width: 450px;
}
.imgsalamech{
    height: 300px;
    width: 250px;
}